<<%=get('tag')%><%-attrs()%>>

  <img src="<%=get('content').origin + get('content').imageURL%>"
       alt="<%=get('content').title%>" 
       title="<%=get('content').title%>" />
  <h3><%=get('content').title%></h3>
  <a href="#" class="uninstall" data-appid="<%=get('content').id%>">uninstall</a>
</<%=get('tag')%>>
